.about {
  padding: 4rem 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 2rem auto;
}

.dark-mode .about {
  background-color: #333; /* Dark mode background color */
  color: #fff; /* Dark mode text color */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Dark mode box shadow */
}

.about h2 {
  font-size: 2rem;
  background: linear-gradient(to right, #ff0000, #00ff00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* .dark-mode .about h2 {
  background: linear-gradient(to right, #ff0000, #00ff00, #bbb3b3, white); 
} */
