.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2rem;
}

.home-content {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  font-size: 2rem;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  height: 2rem; /* Adjust this value according to the font size */
  animation: reveal 3.5s steps(40, end) forwards, blink-caret .75s step-end infinite;
}

@keyframes reveal {
  from { height: 0; }
  to { height: 2rem; /* Adjust this value according to the font size */ }
}

@keyframes blink-caret {
  from, to { border-right-color: transparent; }
  50% { border-right-color: orange; }
}

.about {
  padding: 4rem 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 2rem auto;
}

.about h2 {
  font-size: 2rem;
  background: linear-gradient(to right, #ff0000, #00ff00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
