@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}

.home {
  padding: 4rem 1rem;
  background-color: #f5f5f5;
  color: black;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 2rem auto;
  display: flex;
  align-items: center; /* Center the items vertically */
  overflow: hidden; /* Ensure no overflow */
}

.home-content {
  flex: 1;
  margin-left: 2rem; /* Add some space between image and text */
  overflow: hidden; /* Prevent overflow in the content */
}

.home h2 {
  font-size: 2.5rem;
  overflow: hidden; /* Ensures the text will be clipped */
  border-right: 0.01em solid black; /* The typewriter cursor */
  margin: 0 auto; /* Center the text */
  letter-spacing: 0.01em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
  display: inline-block; /* Ensure the text does not extend beyond its container */
  width: 100%;
  box-sizing: border-box; /* Include border in the element's width */
  white-space: pre-wrap; /* Allows text to wrap and respects whitespace */
}

.home p {
  font-size: 1.2rem;
}

.profile {
  width: 200px;
  height: 200px;
  border-radius: 12px;
}

.welcome {
  background: linear-gradient(to right, #ff0000, #00ff00, #bbb3b3, black);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bolder;
  display: inline-block; /* Ensure the text does not extend beyond its container */
}