.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* This centers the items vertically */
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar .hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-left: auto; /* Ensures the hamburger is pushed to the right */
}

.navbar .hamburger .bar {
  width: 25px;
  height: 3px;
  margin: 4px 0;
  background-color: #333;
  transition: 0.3s;
  margin-left: auto;
}

.navbar .hamburger .bar.open {
  background-color: greenyellow;
}

.navbar ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.navbar a {
  color: rgb(63, 60, 60);
  font-weight: bolder;
  transition: color 0.3s ease-in-out;
  font-size: larger;
  background: linear-gradient(to right, #29caca, #00ff00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.navbar a:hover {
  color: greenyellow;
}

@media (max-width: 768px) {
  .navbar ul {
    display: none;
    gap: 0;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: white;
  }

  .navbar .nav-links.open {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar .hamburger {
    display: flex;
  }

  .navbar .nav-links.open li {
    margin-top: 20px;
  }
}
