.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  transition: background-color 0.3s ease-in-out;
}

.navbar.dark-mode {
  background-color: #333;
  color: #fff;
}

.navbar .hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-left: auto;
}

.navbar .hamburger .bar {
  width: 25px;
  height: 3px;
  margin: 4px 0;
  background-color: #333;
  transition: 0.3s;
}

.navbar .hamburger .bar.open {
  background-color: greenyellow;
}

.navbar ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.navbar a {
  color: rgb(63, 60, 60);
  font-weight: bolder;
  transition: color 0.3s ease-in-out;
  font-size: larger;
  background: linear-gradient(to right, #29caca, #00ff00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.navbar.dark-mode a {
  color: #fff;
}

.navbar a:hover {
  color: greenyellow;
}

@media (max-width: 768px) {
  .navbar ul {
    display: none;
    gap: 0;
    width: 100%;
    height: 100vh; /* Full height of the viewport */
    position: absolute;
    top: 0; /* Align with top of viewport */
    left: 0; /* Align with left of viewport */
    background-color: rgb(145, 137, 137); /* Ensure background color covers entire screen */
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center items vertically */
  }

  .navbar .nav-links.open {
    display: flex;
  }

  .navbar .hamburger {
    display: flex;
  }

  .navbar .nav-links.open li {
    margin: 20px 0; /* Adjust vertical spacing for menu items */
  }

  .navbar ul li a {
    padding: 20px; /* Add padding for better touch interaction */
    width: 100%;
    text-align: center;
    font-size: 2rem; /* Increase font size for better visibility */
  }
}
